{
  "openapi": "3.0.1",
  "info": {
    "title": "InfiniteGear — Login integrado",
    "version": "1.0",
    "description": "Contrato transcrito do guia oficial de login integrado. A rota da versão atual é usada com o domínio da API InfiniteGear."
  },
  "servers": [{ "url": "https://api.crm.infinitegear.app/auth" }],
  "paths": {
    "/v1/login/authenticate": {
      "post": {
        "operationId": "auth_post_v1-login-authenticate",
        "tags": ["Login integrado"],
        "summary": "Login integrado · Gerar link de acesso",
        "description": "Autentica um usuário por telefone ou email e retorna um link temporário de acesso à plataforma. Aceita token de conta ou de parceiro. Requer alterações habilitadas e confirmação do usuário; o link retornado permite iniciar uma sessão e deve ser compartilhado apenas com o destinatário autorizado. A chamada é feita exclusivamente pelo servidor MCP.",
        "x-infinitegear-auth": "either",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/login-integrado.md",
        "x-infinitegear-source-kind": "guia-oficial-atualizado",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phoneNumber": { "type": "string", "minLength": 1, "description": "Telefone do usuário; para números internacionais inclua + antes do DDI." },
                  "email": { "type": "string", "format": "email", "description": "Email cadastrado do usuário." },
                  "tenantId": { "type": "string", "minLength": 1, "description": "ID da conta de destino. Se omitido, o usuário pode escolher a conta no login." },
                  "redirectUrl": { "type": "string", "minLength": 1, "description": "Página de destino após autenticar, por exemplo /chat2/sessions/ID/preview." }
                },
                "anyOf": [{ "required": ["phoneNumber"] }, { "required": ["email"] }],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link de acesso temporário; expiresIn é uma data/hora no exemplo do guia.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": { "type": "string" },
                    "tenantId": { "type": "string" },
                    "urlRedirect": { "type": "string", "format": "uri" },
                    "expiresIn": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    }
  },
  "components": { "securitySchemes": { "Bearer": { "type": "http", "scheme": "bearer" } } },
  "externalDocs": { "url": "https://infinitegear.readme.io/reference/login-integrado.md" }
}
