{
  "openapi": "3.0.1",
  "info": {
    "title": "InfiniteGear CORE",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.crm.infinitegear.app/core"
    }
  ],
  "paths": {
    "/v1/agent/{id}": {
      "delete": {
        "tags": [
          "Usuários"
        ],
        "summary": "Usuários · Excluir",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do usuário",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Parâmetros para remoção",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAgentDepartmentDeleteDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_delete_v1-agent-id",
        "x-infinitegear-index-slug": "delete_v1-agent-id",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/delete_v1-agent-id.md"
      },
      "get": {
        "tags": [
          "Usuários"
        ],
        "summary": "Usuários · Obter por ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do usuário",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-agent-id",
        "x-infinitegear-index-slug": "get_v1-agent-id",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-agent-id.md"
      },
      "put": {
        "tags": [
          "Usuários"
        ],
        "summary": "Usuários · Atualizar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do usuário",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Campos a serem atualizados",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentUpdatePartialDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_put_v1-agent-id",
        "x-infinitegear-index-slug": "put_v1-agent-id",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/put_v1-agent-id.md"
      }
    },
    "/v1/company/{id}/tokens/{tokenId}": {
      "delete": {
        "tags": [
          "Contas"
        ],
        "summary": "Contas · Remover token",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da conta",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "description": "ID do token a ser apagado",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_delete_v1-company-id-tokens-tokenid",
        "x-infinitegear-index-slug": "delete_v1-company-id-tokens-tokenid",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/delete_v1-company-id-tokens-tokenid.md"
      }
    },
    "/v1/company/{id}": {
      "delete": {
        "tags": [
          "Contas"
        ],
        "summary": "Contas · Excluir",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da conta a ser excluída.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_delete_v1-company-id",
        "x-infinitegear-index-slug": "delete_v1-company-id",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/delete_v1-company-id.md"
      },
      "get": {
        "tags": [
          "Contas"
        ],
        "summary": "Contas · Obter por ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da conta",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCompanyDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-company-id",
        "x-infinitegear-index-slug": "get_v1-company-id",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-company-id.md"
      },
      "put": {
        "tags": [
          "Contas"
        ],
        "summary": "Contas · Atualizar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da conta.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados para atualização da conta.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateCompanyDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCompanyDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_put_v1-company-id",
        "x-infinitegear-index-slug": "put_v1-company-id",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/put_v1-company-id.md"
      }
    },
    "/v1/department/{id}": {
      "delete": {
        "tags": [
          "Equipes"
        ],
        "summary": "Equipes · Excluir",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_delete_v1-department-id",
        "x-infinitegear-index-slug": "delete_v1-department-id",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/delete_v1-department-id.md"
      },
      "get": {
        "tags": [
          "Equipes"
        ],
        "summary": "Equipes · Obter por ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "includeDetails",
            "in": "query",
            "schema": {
              "enum": [
                "All",
                "Agents",
                "Channels"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDepartmentDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-department-id",
        "x-infinitegear-index-slug": "get_v1-department-id",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-department-id.md"
      },
      "put": {
        "tags": [
          "Equipes"
        ],
        "summary": "Equipes · Atualizar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da equipe.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados para atualização da equipe.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateDepartmentDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDepartmentDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_put_v1-department-id",
        "x-infinitegear-index-slug": "put_v1-department-id",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/put_v1-department-id.md"
      }
    },
    "/v1/portfolio/{id}/contact/batch": {
      "delete": {
        "tags": [
          "Carteiras"
        ],
        "summary": "Carteiras · Remover contatos",
        "description": "Remova contatos de uma carteira adicionando um filtro.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id da carteira.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Filtro de busca dos contatos.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactsPortfolioDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_delete_v1-portfolio-id-contact-batch",
        "x-infinitegear-index-slug": "delete_v1-portfolio-id-contact-batch",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/delete_v1-portfolio-id-contact-batch.md"
      },
      "post": {
        "tags": [
          "Carteiras"
        ],
        "summary": "Carteiras · Adicionar contatos",
        "description": "Adicione contatos em uma carteira adicionando um filtro.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id da carteira.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Filtro de busca dos contatos.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactsPortfolioDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactPortfolioDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-portfolio-id-contact-batch",
        "x-infinitegear-index-slug": "post_v1-portfolio-id-contact-batch",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-portfolio-id-contact-batch.md"
      }
    },
    "/v1/portfolio/{id}/contact": {
      "delete": {
        "tags": [
          "Carteiras"
        ],
        "summary": "Carteiras · Remover contato",
        "description": "Remova um contato de uma carteira.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id da carteira.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Filtro de busca do contato.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactPortfolioDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_delete_v1-portfolio-id-contact",
        "x-infinitegear-index-slug": "delete_v1-portfolio-id-contact",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/delete_v1-portfolio-id-contact.md"
      },
      "get": {
        "tags": [
          "Carteiras"
        ],
        "summary": "Carteiras · Listar contatos",
        "description": "Listagem de contatos associados a uma carteira.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id da carteira.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.ApplyCompanyTimezone",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CreatedAt.IsNull",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.ApplyCompanyTimezone",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "UpdatedAt.IsNull",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ContactIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderByDesc",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TimestampField",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TimestampFilter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "NextPageToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "schema": {
              "enum": [
                "Undefined",
                "PageNumber",
                "Timestamp",
                "Token"
              ],
              "type": "string"
            }
          },
          {
            "name": "SkipCount",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactPortfolioDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-portfolio-id-contact",
        "x-infinitegear-index-slug": "get_v1-portfolio-id-contact",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-portfolio-id-contact.md"
      },
      "post": {
        "tags": [
          "Carteiras"
        ],
        "summary": "Carteiras · Adicionar contato",
        "description": "Adicione um contato em uma carteira.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id da carteira.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Filtro de busca do contato.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactPortfolioDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactPortfolioDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-portfolio-id-contact",
        "x-infinitegear-index-slug": "post_v1-portfolio-id-contact",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-portfolio-id-contact.md"
      }
    },
    "/v1/tag/{id}": {
      "delete": {
        "tags": [
          "Etiquetas"
        ],
        "summary": "Etiquetas · Excluir",
        "description": "Exclui uma etiqueta. Quando a etiqueta estiver vinculada a contatos, a exclusão é recusada até que seja\r\nconfirmada com `removeFromContacts`, pois ela será removida de todos os contatos associados.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da etiqueta.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Confirmação da remoção dos contatos vinculados.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqDeleteTagDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_delete_v1-tag-id",
        "x-infinitegear-index-slug": "delete_v1-tag-id",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference"
      },
      "put": {
        "tags": [
          "Etiquetas"
        ],
        "summary": "Etiquetas · Atualizar",
        "description": "Atualiza o nome e a cor de uma etiqueta. Quando a cor é omitida, a cor atual é mantida.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da etiqueta.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados da etiqueta.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateTagDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicTagDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_put_v1-tag-id",
        "x-infinitegear-index-slug": "put_v1-tag-id",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference"
      }
    },
    "/v1/webhook/subscription/{subscriptionId}": {
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Webhooks · Remove assinatura",
        "description": "Remove assinatura de webhook.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "ID da assinatura de webhook.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_delete_v1-webhook-subscription-subscriptionid",
        "x-infinitegear-index-slug": "delete_v1-webhook-subscription-subscriptionid",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/delete_v1-webhook-subscription-subscriptionid.md"
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Webhooks · Busca assinatura por ID",
        "description": "Busca assinatura de webhook através do ID.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "ID da assinatura de webhook.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWebhookSubscriptionDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-webhook-subscription-subscriptionid",
        "x-infinitegear-index-slug": "get_v1-webhook-subscription-subscriptionid",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-webhook-subscription-subscriptionid.md"
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Webhooks · Atualiza assinatura",
        "description": "Atualiza assinatura de webhook.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "ID da assinatura de webhook.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Parâmetros para atualização da assinatura de webhook.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateWebhookSubscriptionDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWebhookSubscriptionDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_put_v1-webhook-subscription-subscriptionid",
        "x-infinitegear-index-slug": "put_v1-webhook-subscription-subscriptionid",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/put_v1-webhook-subscription-subscriptionid.md"
      }
    },
    "/v1/agent": {
      "get": {
        "tags": [
          "Usuários"
        ],
        "summary": "Usuários · Listar",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicAgentDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-agent",
        "x-infinitegear-index-slug": "get_v1-agent",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-agent.md"
      },
      "post": {
        "tags": [
          "Usuários"
        ],
        "summary": "Usuários · Criar",
        "requestBody": {
          "description": "Dados do usuário",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentCreateDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-agent",
        "x-infinitegear-index-slug": "post_v1-agent",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-agent.md"
      }
    },
    "/v1/company/{id}/tokens": {
      "get": {
        "tags": [
          "Contas"
        ],
        "summary": "Contas · Listar tokens da conta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da conta",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicPermanentTokenDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-company-id-tokens",
        "x-infinitegear-index-slug": "get_v1-company-id-tokens",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-company-id-tokens.md"
      },
      "post": {
        "tags": [
          "Contas"
        ],
        "summary": "Contas · Criar novo token",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da conta",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestCreateTokenDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPermanentTokenDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-company-id-tokens",
        "x-infinitegear-index-slug": "post_v1-company-id-tokens",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-company-id-tokens.md"
      }
    },
    "/v1/company/officehours": {
      "get": {
        "tags": [
          "Horários de Atendimento"
        ],
        "summary": "Horários de Atendimento · Obter",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCompanyOfficeHoursDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-company-officehours",
        "x-infinitegear-index-slug": "get_v1-company-officehours",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference"
      }
    },
    "/v1/company": {
      "get": {
        "tags": [
          "Contas"
        ],
        "summary": "Contas · Listar",
        "description": "Para autenticar nos endpoints de Gestão de Contas, utilize o Token de Parceiro.<br />O token pode ser gerado na plataforma em `Admin > Personalizar > Integração`.<br />Envie-o no header `Authorization` com o schema `Bearer`.<br />Este token é exclusivo para os endpoints de Gestão de Contas e Parceiros.\r\n<br /><br />Listagem paginada de contas.",
        "parameters": [
          {
            "name": "SearchableText",
            "in": "query",
            "description": "Texto para busca",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OnlyInactive",
            "in": "query",
            "description": "Filtrar apenas contas inativas",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Status da conta",
            "schema": {
              "enum": [
                "SANDBOX",
                "PRODUCTION"
              ],
              "type": "string"
            }
          },
          {
            "name": "SetupStatus",
            "in": "query",
            "description": "Status de configuração da conta",
            "schema": {
              "enum": [
                "SUBSCRIPTION_PENDING",
                "SUBSCRIPTION_CREATED",
                "PENDING_CONFIG",
                "COMPLETED",
                "SUBSCRIPTION_ARREARS",
                "SUBSCRIPTION_SUSPENDED",
                "SUBSCRIPTION_CANCELED"
              ],
              "type": "string"
            }
          },
          {
            "name": "IncludeDetails",
            "in": "query",
            "description": "Detalhes a serem incluídos na resposta",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Config"
                ],
                "type": "string",
                "description": "Detalhes a incluir na resposta"
              }
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Número da página a ser obtida.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Tamanho da página a ser obtida.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCompanyDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-company",
        "x-infinitegear-index-slug": "get_v1-company",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-company.md"
      },
      "post": {
        "tags": [
          "Contas"
        ],
        "summary": "Contas · Criar",
        "requestBody": {
          "description": "Dados para criação da conta.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateCompanyDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCompanyDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-company",
        "x-infinitegear-index-slug": "post_v1-company",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-company.md"
      }
    },
    "/v1/contact/custom-field": {
      "get": {
        "tags": [
          "Contatos"
        ],
        "summary": "Contatos · Campos personalizados",
        "parameters": [
          {
            "name": "NestedList",
            "in": "query",
            "description": "Determina a estrutura da lista retornada. Se verdadeiro, os campos serão retornados de forma aninhada, isto é, estruturado em grupos.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicCustomFieldDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-contact-custom-field",
        "x-infinitegear-index-slug": "get_v1-contact-custom-field",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-contact-custom-field.md"
      }
    },
    "/v1/contact/{id}": {
      "get": {
        "tags": [
          "Contatos"
        ],
        "summary": "Contatos · Obter por ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do contato",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "IncludeDetails",
            "in": "query",
            "description": "Detalhes que devem ser incluídos na resposta.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Tags",
                  "CustomFields",
                  "Portfolios"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-contact-id",
        "x-infinitegear-index-slug": "get_v1-contact-id",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-contact-id.md"
      }
    },
    "/v1/contact/phonenumber/{phone}": {
      "get": {
        "tags": [
          "Contatos"
        ],
        "summary": "Contatos · Obter por Número de telefone",
        "parameters": [
          {
            "name": "phone",
            "in": "path",
            "description": "Número de telefone",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IncludeDetails",
            "in": "query",
            "description": "Detalhes que devem ser incluídos na resposta.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Tags",
                  "CustomFields",
                  "Portfolios"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-contact-phonenumber-phone",
        "x-infinitegear-index-slug": "get_v1-contact-phonenumber-phone",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-contact-phonenumber-phone.md"
      },
      "put": {
        "tags": [
          "Contatos"
        ],
        "summary": "Contatos · Atualizar por Número de telefone",
        "parameters": [
          {
            "name": "phone",
            "in": "path",
            "description": "Número de telefone.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados para atualização do contato.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_put_v1-contact-phonenumber-phone",
        "x-infinitegear-index-slug": "put_v1-contact-phonenumber-phone",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/put_v1-contact-phonenumber-phone.md"
      }
    },
    "/v1/contact": {
      "get": {
        "tags": [
          "Contatos"
        ],
        "summary": "Contatos · Listar",
        "description": "Listagem paginada de contatos. Para resultados mais específicos, utilize o endpoint `/filter`.",
        "parameters": [
          {
            "name": "IncludeDetails",
            "in": "query",
            "description": "Detalhes que devem ser incluídos na resposta.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Tags",
                  "CustomFields",
                  "Portfolios"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Status dos contatos a serem listados. Caso não informado, o valor padrão é ACTIVE.",
            "schema": {
              "enum": [
                "ACTIVE",
                "ARCHIVED",
                "BLOCKED"
              ],
              "type": "string",
              "default": "ACTIVE"
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Número da página a ser obtida.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Tamanho da página a ser obtida.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-contact",
        "x-infinitegear-index-slug": "get_v1-contact",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-contact.md"
      },
      "post": {
        "tags": [
          "Contatos"
        ],
        "summary": "Contatos · Criar",
        "requestBody": {
          "description": "Dados para criação do contato.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateContactIndividualDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-contact",
        "x-infinitegear-index-slug": "post_v1-contact",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-contact.md"
      }
    },
    "/v1/custom-field": {
      "get": {
        "tags": [
          "Campos"
        ],
        "summary": "Campos · Listar",
        "parameters": [
          {
            "name": "EntityType",
            "in": "query",
            "description": "Tipo de entidade do campo personalizado.",
            "schema": {
              "enum": [
                "CONTACT",
                "PANEL"
              ],
              "type": "string",
              "default": "CONTACT"
            }
          },
          {
            "name": "NestedList",
            "in": "query",
            "description": "Determina a estrutura da lista retornada. Se verdadeiro, os campos serão retornados de forma aninhada, isto é, estruturado em grupos.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicCustomFieldDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-custom-field",
        "x-infinitegear-index-slug": "get_v1-custom-field",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-custom-field.md"
      }
    },
    "/v1/department/{id}/channel": {
      "get": {
        "tags": [
          "Equipes"
        ],
        "summary": "Equipes · Listar canais",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da equipe",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDepartmentListChannelDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-department-id-channel",
        "x-infinitegear-index-slug": "get_v1-department-id-channel",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-department-id-channel.md"
      }
    },
    "/v1/portfolio": {
      "get": {
        "tags": [
          "Carteiras"
        ],
        "summary": "Carteiras · Listar",
        "description": "Listagem paginada de carteiras.",
        "parameters": [
          {
            "name": "IncludeDetails",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Departments",
                  "ContactCount"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Número da página a ser obtida.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Tamanho da página a ser obtida.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPortfolioDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-portfolio",
        "x-infinitegear-index-slug": "get_v1-portfolio",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-portfolio.md"
      }
    },
    "/v1/tag/color": {
      "get": {
        "tags": [
          "Etiquetas"
        ],
        "summary": "Etiquetas · Listar cores",
        "description": "Listagem das cores disponíveis para etiquetas. O valor de `color` é o que deve ser informado na criação e na atualização.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicTagColorDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-tag-color",
        "x-infinitegear-index-slug": "get_v1-tag-color",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference"
      }
    },
    "/v1/tag": {
      "get": {
        "tags": [
          "Etiquetas"
        ],
        "summary": "Etiquetas · Listar",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicTagDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-tag",
        "x-infinitegear-index-slug": "get_v1-tag",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-tag.md"
      },
      "post": {
        "tags": [
          "Etiquetas"
        ],
        "summary": "Etiquetas · Criar",
        "description": "Cria uma etiqueta na conta. A cor define automaticamente a cor do texto; quando omitida, a etiqueta é criada em `GRAY_600`.",
        "requestBody": {
          "description": "Dados da etiqueta.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateTagDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicTagDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-tag",
        "x-infinitegear-index-slug": "post_v1-tag",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference"
      }
    },
    "/v1/webhook/event": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Webhooks · Listar eventos",
        "description": "Listagem dos eventos de webhook que podem ser assinados.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicWebhookEventDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-webhook-event",
        "x-infinitegear-index-slug": "get_v1-webhook-event",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-webhook-event.md"
      }
    },
    "/v1/webhook/subscription": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Webhooks · Listar assinaturas",
        "description": "Listagem das assinaturas de webhook ativas e inativas.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicWebhookSubscriptionDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v1-webhook-subscription",
        "x-infinitegear-index-slug": "get_v1-webhook-subscription",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v1-webhook-subscription.md"
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Webhooks · Cria assinatura",
        "description": "Cria assinatura de webhook.",
        "requestBody": {
          "description": "Parâmetros para criação da assinatura de webhook.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateWebhookSubscriptionDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWebhookSubscriptionDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-webhook-subscription",
        "x-infinitegear-index-slug": "post_v1-webhook-subscription",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-webhook-subscription.md"
      }
    },
    "/v2/department": {
      "get": {
        "tags": [
          "Equipes"
        ],
        "summary": "Equipes · Listar",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicDepartmentDTOV2"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v2-department",
        "x-infinitegear-index-slug": "get_v2-department",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v2-department.md"
      }
    },
    "/v2/file": {
      "get": {
        "tags": [
          "Arquivos"
        ],
        "summary": "Arquivos · Obter url para upload",
        "description": "Envie os metadados do arquivo e você receberá uma URL e deverá fazer upload para ela usando o método PUT<br /> Após enviar o conteúdo do arquivo, faça uma chamada para o endpont POST /core/v2/file",
        "parameters": [
          {
            "name": "Type",
            "in": "query",
            "description": "Tipo do arquivo\r\nSe informado o tipo UNDEFINED o sistema tentará identificar o tipo do arquivo\r\nArquivos do tipo DOCUMENT não passam por transformação ou compressão, mas arquivos do tipo IMAGE e VIDEO são transformados para que sejam compatíveis com todas as plataformas.",
            "required": true,
            "schema": {
              "enum": [
                "UNDEFINED",
                "PDF",
                "EXCEL",
                "WORD",
                "IMAGE",
                "AUDIO",
                "VIDEO",
                "DOCUMENT"
              ],
              "type": "string"
            }
          },
          {
            "name": "Name",
            "in": "query",
            "description": "Nome do arquivo, com extensão (ex.: paisagem.jpg)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MimeType",
            "in": "query",
            "description": "Mimetype do arquivo. Se não informado ele será definido pelo tipo ou extensão do arquivo",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUrlUploadFileV2DTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v2-file",
        "x-infinitegear-index-slug": "get_v2-file",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/get_v2-file.md"
      },
      "post": {
        "tags": [
          "Arquivos"
        ],
        "summary": "Arquivos · Salvar arquivo",
        "description": "Após o upload do arquivo na URL fornecida na rota GET /core/v2/file execute este metodo para obter o ID do arquivo<br />O Id do arquivo pode ser fornecido no envio de mensagens. <br /><br />O FileId pode ser reaproveitado, não sendo necessário novos uploads para o mesmo arquivo.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqFileSaveV2DTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicFileV2DTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v2-file",
        "x-infinitegear-index-slug": "post_v2-file",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v2-file.md"
      }
    },
    "/v2/partner/billing/report": {
      "get": {
        "tags": [
          "Parceiros"
        ],
        "summary": "Parceiros · Relatório de faturamento",
        "description": "Para autenticar nos endpoints de Parceiros, utilize o Token de Parceiro.<br />O token pode ser gerado na plataforma em `Admin > Personalizar > Integração`.<br />Envie-o no header `Authorization` com o schema `Bearer`.<br />Este token é exclusivo para os endpoints de Gestão de Contas e Parceiros.\r\n<br /><br />Retorna o relatório de faturamento do parceiro. As datas são tratadas apenas como data (dia/mês/ano), ignorando horário. Se a data inicial não for fornecida, considera o primeiro dia do mês atual. A data final é calculada automaticamente como o último dia do mês após a data inicial e retornada no campo EndBillingAt.",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Data inicial para filtro (opcional). Se não informada, usa o primeiro dia do mês atual. Formato: YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "ID da conta para filtro (opcional)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPartnerBillingV2DTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_get_v2-partner-billing-report",
        "x-infinitegear-index-slug": "get_v2-partner-billing-report",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference"
      }
    },
    "/v1/agent/{id}/departments": {
      "post": {
        "tags": [
          "Usuários"
        ],
        "summary": "Usuários · Atualizar equipes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do usuário",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados de atualização dos equipes. Use action: \"ReplaceAll\", \"UPSERT\" ou \"REMOVE\"",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentDepartmentUpdateDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-agent-id-departments",
        "x-infinitegear-index-slug": "post_v1-agent-id-departments",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-agent-id-departments.md"
      }
    },
    "/v1/agent/{id}/logout": {
      "post": {
        "tags": [
          "Usuários"
        ],
        "summary": "Usuários · Fazer logout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do usuário",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-agent-id-logout",
        "x-infinitegear-index-slug": "post_v1-agent-id-logout",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-agent-id-logout.md"
      }
    },
    "/v1/agent/{id}/status": {
      "post": {
        "tags": [
          "Usuários"
        ],
        "summary": "Usuários · Alterar status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do usuário",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados do novo status",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentChangeStatusDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-agent-id-status",
        "x-infinitegear-index-slug": "post_v1-agent-id-status",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-agent-id-status.md"
      }
    },
    "/v1/company/{id}/active": {
      "post": {
        "tags": [
          "Contas"
        ],
        "summary": "Contas · Ativar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da conta a ser ativada.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCompanyDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-company-id-active",
        "x-infinitegear-index-slug": "post_v1-company-id-active",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-company-id-active.md"
      }
    },
    "/v1/contact/filter": {
      "post": {
        "tags": [
          "Contatos"
        ],
        "summary": "Contatos · Filtrar",
        "description": "Filtragem paginada de contatos.",
        "requestBody": {
          "description": "Parâmetros para filtragem dos contatos. Os filtros são aditivos.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqFilterContactDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-contact-filter",
        "x-infinitegear-index-slug": "post_v1-contact-filter",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-contact-filter.md",
        "x-infinitegear-read-only": true
      }
    },
    "/v1/contact/{id}/tags": {
      "post": {
        "tags": [
          "Contatos"
        ],
        "summary": "Contatos · Atualizar etiquetas",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do contato ou número de telefone.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Lista de etiquetas e operação esperada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactTagDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-contact-id-tags",
        "x-infinitegear-index-slug": "post_v1-contact-id-tags",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-contact-id-tags.md"
      }
    },
    "/v1/contact/phonenumber/{phone}/tags": {
      "post": {
        "tags": [
          "Contatos"
        ],
        "summary": "Contatos · Atualizar etiquetas por Número de telefone",
        "parameters": [
          {
            "name": "phone",
            "in": "path",
            "description": "Número de telefone",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Lista de etiquetas e operação esperada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactTagDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-contact-phonenumber-phone-tags",
        "x-infinitegear-index-slug": "post_v1-contact-phonenumber-phone-tags",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-contact-phonenumber-phone-tags.md"
      }
    },
    "/v1/department": {
      "post": {
        "tags": [
          "Equipes"
        ],
        "summary": "Equipes · Criar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSaveDepartmentDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDepartmentDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v1-department",
        "x-infinitegear-index-slug": "post_v1-department",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v1-department.md"
      }
    },
    "/v2/contact/batch": {
      "post": {
        "tags": [
          "Contatos"
        ],
        "summary": "Contatos · Salvar em massa",
        "description": "Permite salvar até 100 contatos em uma única requisição.<br />Se um contato com o mesmo número de telefone, Instagram ou endereço de email já existir, este apenas será atualizado.",
        "requestBody": {
          "description": "Dados para salvar os contatos.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqBatchCreateContactV2DTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicContactDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_post_v2-contact-batch",
        "x-infinitegear-index-slug": "post_v2-contact-batch",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/post_v2-contact-batch.md"
      }
    },
    "/v1/department/{id}/agents": {
      "put": {
        "tags": [
          "Equipes"
        ],
        "summary": "Equipes · Atualizar usuários",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da equipe",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados de atualização dos equipes. Use action: \"REPLACEALL\", \"UPSERT\" ou \"REMOVE\".",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateDepartmentAgent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicReqUpdateDepartmentAgent"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_put_v1-department-id-agents",
        "x-infinitegear-index-slug": "put_v1-department-id-agents",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/put_v1-department-id-agents.md"
      }
    },
    "/v2/contact/{id}": {
      "put": {
        "tags": [
          "Contatos"
        ],
        "summary": "Contatos · Atualizar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do contato.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados para atualização do contato.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "core_put_v2-contact-id",
        "x-infinitegear-index-slug": "put_v2-contact-id",
        "x-infinitegear-documentation-url": "https://infinitegear.readme.io/reference/put_v2-contact-id.md"
      }
    }
  },
  "components": {
    "schemas": {
      "InternalException": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "key": {
            "type": "string",
            "nullable": true
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "isUnsolvableError": {
            "type": "boolean"
          },
          "details": {
            "nullable": true
          },
          "id": {
            "$ref": "#/components/schemas/InternalExceptionId"
          },
          "httpStatusCode": {
            "enum": [
              "Continue",
              "SwitchingProtocols",
              "Processing",
              "EarlyHints",
              "OK",
              "Created",
              "Accepted",
              "NonAuthoritativeInformation",
              "NoContent",
              "ResetContent",
              "PartialContent",
              "MultiStatus",
              "AlreadyReported",
              "IMUsed",
              "MultipleChoices",
              "Ambiguous",
              "MovedPermanently",
              "Moved",
              "Found",
              "Redirect",
              "SeeOther",
              "RedirectMethod",
              "NotModified",
              "UseProxy",
              "Unused",
              "TemporaryRedirect",
              "RedirectKeepVerb",
              "PermanentRedirect",
              "BadRequest",
              "Unauthorized",
              "PaymentRequired",
              "Forbidden",
              "NotFound",
              "MethodNotAllowed",
              "NotAcceptable",
              "ProxyAuthenticationRequired",
              "RequestTimeout",
              "Conflict",
              "Gone",
[...]
